# **Explore hypothesis testing**

# **Step 1: Imports**

In [2]:

import pandas as pd
import numpy as np
from scipy import stats

# **Load Dataset**

In [12]:


df = pd.read_csv(r'c:/Users/hp/Downloads/c4_epa_air_quality.csv')
df.head(2)

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5

In [13]:
# Drop the first two columns
data = df.drop(df.columns[[0, 1]], axis=1)

In [14]:
data.shape

(260, 8)

## **Step 2: Data Exploration**

In [15]:


print("Use head() to show a sample of data")
print(data.head())

print("Use describe() to summarize AQI")
print(data.describe(include='all'))

print("For a more thorough examination of observations by state use values_counts()")
print(data['state_name'].value_counts())

print('for a more')

Use head() to show a sample of data
     state_name   county_name      city_name  \
0       Arizona      Maricopa        Buckeye
1          Ohio       Belmont      Shadyside
2       Wyoming         Teton  Not in a city
3  Pennsylvania  Philadelphia   Philadelphia
4          Iowa          Polk     Des Moines

                                     local_site_name   parameter_name  \
0                                            BUCKEYE  Carbon monoxide
1                                          Shadyside  Carbon monoxide
2  Yellowstone National Park - Old Faithful Snow ...  Carbon monoxide
3                             North East Waste (NEW)  Carbon monoxide
4                                          CARPENTER  Carbon monoxide

    units_of_measure  arithmetic_mean  aqi
0  Parts per million         0.473684    7
1  Parts per million         0.263158    5
2  Parts per million         0.111111    2
3  Parts per million         0.300000    3
4  Parts per million         0.215789    3
Use describe() to summarize AQI
        state_name  county_name      city_name local_site_name  \
count          260          260            260             257
unique          52          149            190             253
top     California  Los Angeles  Not in a city         Kapolei
freq            66           14             21               2
mean           NaN          NaN            NaN             NaN
std            NaN          NaN            NaN             NaN
min            NaN          NaN            NaN             NaN
25%            NaN          NaN            NaN             NaN
50%            NaN          NaN            NaN             NaN
75%            NaN          NaN            NaN             NaN
max            NaN          NaN            NaN             NaN

         parameter_name   units_of_measure  arithmetic_mean         aqi
count               260                260       260.000000  260.000000
unique                1                  1              NaN         NaN
top     Carbon monoxide  Parts per million              NaN         NaN
freq                260                260              NaN         NaN
mean                NaN                NaN         0.403169    6.757692
std                 NaN                NaN         0.317902    7.061707
min                 NaN                NaN         0.000000    0.000000
25%                 NaN                NaN         0.200000    2.000000
50%                 NaN                NaN         0.276315    5.000000
75%                 NaN                NaN         0.516009    9.000000
max                 NaN                NaN         1.921053   50.000000
For a more thorough examination of observations by state use values_counts()
state_name
California              66
Arizona                 14
Ohio                    12
Florida                 12
Texas                   10
Pennsylvania            10
New York                10
Colorado                 9
Michigan                 9
Minnesota                7
New Jersey               6
Indiana                  5
Nevada                   4
Maryland                 4
Massachusetts            4
Oklahoma                 4
North Carolina           4
Virginia                 4
Connecticut              4
Wyoming                  3
Utah                     3
Hawaii                   3
Illinois                 3
Missouri                 3
Iowa                     3
Kentucky                 3
Vermont                  3
Rhode Island             2
Alaska                   2
Georgia                  2
Washington               2
Idaho                    2
Nebraska                 2
Montana                  2
Tennessee                2
Maine                    2
New Mexico               2
District Of Columbia     2
Oregon                   2
New Hampshire            2
Kansas                   1
Alabama                  1
South Dakota             1
West Virginia            1
Mississippi              1
Louisiana                1
Delaware                 1
North Dakota             1
Arkansas                 1
Puerto Rico              1
South Carolina           1
Wisconsin                1
Name: count, dtype: int64
for a more

## **Step 3. Statistical Tests**

In [16]:

ca_la = data[data['county_name']=='Los Angeles']
ca_other = data[(data['state_name']=='California') & (data['county_name']!='Los Angeles')]

# **significance level**

In [17]:
# For this analysis, the significance level is 5%

significance_level = 0.05
significance_level

0.05

#### **Compute the `p-value`**

In [19]:
stats.ttest_ind(a=ca_la['aqi'], b=ca_other['aqi'], equal_var=False)

TtestResult(statistic=np.float64(2.1107010796372014), pvalue=np.float64(0.049839056842410995), df=np.float64(17.08246830361151))

In [20]:

ny = data[data['state_name']=='New York']
ohio = data[data['state_name']=='Ohio']

#  p-value

In [21]:
tstat, pvalue = stats.ttest_ind(a=ny['aqi'], b=ohio['aqi'], alternative='less', equal_var=False)
print(tstat)
print(pvalue)

-2.025951038880333
0.030446502691934683

In [22]:

michigan = data[data['state_name']=='Michigan']

#### Compute the P-value

In [ ]:
# Compute your p-value here



tstat, pvalue = stats.ttest_1samp(michigan['aqi'], 10, alternative='greater')
print(tstat)
print(pvalue)

-1.7395913343286131
0.9399405193140109

# **Step 4. Results and Evaluation**

# Conclusion

| Audience       | Key Points                                                                 |
|----------------|-----------------------------------------------------------------------------|
| General Takeaway | Small samples can still show significant results at 5% level.              |
| Findings        | - LA AQI â‰  Rest of California<br>- NY AQI < Ohio AQI<br>- Michigan AQI > 10 not confirmed |
| For Managers    | - Show hypotheses & conclusions<br>- Report p-values<br>- Mention test type (one/two-tailed) |
| For Stakeholders| - Share conclusions at 5% level<br>- Add sample statistics for context     |